/*style.css*/
body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    margin: 0; 
}

.upper-blue {
    background-color: #1F2937;
    margin: 0; 
}
.container-one {
    margin: 0;
    padding: 0 10%;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    padding: 16px 0;
   
}

.logo {
    width: 200px;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

.hero-container {
    display: flex;
    justify-content:flex-start;
    padding-bottom: 70px;
}

  .hero-text {
    display: flex;
    flex-direction: column;
    padding-right: 52px;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 200;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;  
}

.hero-text p {
    color: #f9faf8;
    margin: 0;
    font-size: 16px;
    font-weight: 100;
    width: 90%;
}

.signup-button {
    background-color: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 8px;
    color: #fff;
    padding: 6px 32px;
    margin: 16px 0;
    display: flex;
    align-self: flex-start;
}

.hero-image {
    width: 45%;
    object-fit: contain;
  }

.information-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 10%;
}

.random-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 24px;
    font-weight: 200;
}

.pull-quote {
    background-color: #e5e7eb;
    margin: 0;
}

.pull-container {
    display: flex;
    flex-direction: column;
    padding: 5% 15%;
    margin: 0;
}

.pull-text {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    margin: 0;
}

.quote-author {
    display: flex;
    align-self: flex-end;
    margin: 0;
}

.modal {
background-color: #3882f6;
width: 70%;
border-radius: 10px;
margin: 8% 10%;
color: white;
padding: 20px 52px;
display: flex;
align-items: center;
justify-content: space-between;
}

.modal-header {
font-size: 18px;
font-weight: bold; 
}

.modal-text {
font-weight: 200;
font-size: 14px;
}

.signup-button-modal {
    background-color: #3882f6;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    padding: 6px 32px;
    margin: 16px 0;
}

.modal-text-container {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 32px;
}